@font-face {
  font-family: 'bebas_neueregular';
  src: url('bebasneue-regular.woff2') format('woff2'),
  url('bebasneue-regular.woff') format('woff'),
  url('bebasneue-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}