body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-choose-licence-plan {
  padding: 20px;
  width: 60%;
  border: 10px solid #EBEBEB;
  background-color: #F8F8F8;
}

fieldset {
  border: none;
}

.form-choose-licence-plan__field {
  padding: 10px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
}

.form-choose-licence-plan__field.focus {
  border: 1px solid #C1DCE7;
  background-color: #ECF4F7;
}

.form-choose-licence-plan span {
  font: 12px Arial, serif;
  color: #7F7F7F;
  vertical-align: bottom;
}

.form-choose-licence-plan input {
  position: absolute;
  opacity: 0;
}

.form-choose-licence-plan__label::before {
  content: '';
  background: #FBFBFB;
  border-radius: 100%;
  border: 4px solid #DADADA;
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  position: relative;
  top: -.1em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.form-choose-licence-plan input:checked + .form-choose-licence-plan__label::before {
  background-color: #0294BF;
  border-color: #34648F;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.form-choose-licence-plan input:focus + .form-choose-licence-plan__label::before {
  background-color: #0294BF;
  border-color: #34648F;
  outline: none;
}

.form-choose-licence-plan__label {
  font-family: 'bebas_neueregular', Arial, serif;
  color: #787878;
}
